	<!-- intro section start -->
	<section class="intro-section">
		<div class="container text-center">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h3 class="section-title" ><!-- <img src="assets/img/portfolio/invalid-name@2x.png" alt="sign" class="img-responsive" style="margin-right: 4px; padding-bottom: 10px"> -->Hey, My name is Alok Dubey</h3>
					<p>I’m just another Designer in this big Universe who is playing his part to make people life more simple. Currently, I’m working with <a href="http://olxpeople.com/" style="text-decoration: underline; color: #979797" target="_blank">OLX People</a> and helping the ‘Next Billion Users’ in shaping and building their careers</p>
					<!-- <h3 class="section-title">I’m a freelance <span>digital designer</span>, with +10 years of experience</h3> -->
				</div>
			</div>
		</div>
	</section>
	<!-- intro section end -->