<!--The content below is only a placeholder and can be replaced.-->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Alok Dubey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">about me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">my selected works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">my resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">contact me</a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <h1>
      Hey there,  My name is Alok Dubey!
  </h1>
  <p>
      I’m just another Designer in this big Universe who is playing his part to make
       people life more simple. Currently,<br>
      I’m working with OLX People and helping the ‘Next Billion Users’ in shaping and
       building their careers. 
  </p>
  <h6>
      about me
  </h6>
  <p>
      As a designer, I wanted to say I’ve expertise in UX, UI, and Product Strategy. 
      I like to touch every aspects of the product building. I do focus on the process 
      by organizing them into sizable, achievable chunks.
 
      My product design process incorporates preliminary research, flow planning, feedback, 
      and visual design implementation, and usability testing. With lots of empathy as solvent 
      in my process  😃
  </p>

</div> -->




	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- header section start -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-3">
					<div class="logo">
						<h2 class="site-logo">Riddle</h2>
					</div>
				</div>
				<div class="col-lg-8 col-md-9">
					<a href="" class="site-btn header-btn">Get in touch</a>
					<nav class="main-menu">
						<ul>
							<li><a href="home.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="home-2.html">Work</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
	</header>
	<!-- header section end -->

	<!-- intro section start -->
	<section class="intro-section">
		<div class="container text-center">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="section-title">I’m a freelance <span>digital designer</span>, with +10 years of experience</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- intro section end -->


	<!-- portfolio section start -->
	<section class="portfolio-section">
		<div class="container">
			<ul class="portfolio-filter controls">
				<li class="control" data-filter="all">All</li>
				<li class="control" data-filter=".web">Web design</li>
				<li class="control" data-filter=".digital">Digital design</li>
				<li class="control" data-filter=".rened">3D Renedering</li>
				<li class="control" data-filter=".brand">Brand Identity</li>
			</ul>
		</div>                       
		<div class="container-fluid p-md-0 ">
			<div class="row portfolios-area">
				<div class="mix col-lg-6 col-md-6 web">
					<a href="assets/img/portfolio/1.jpg" class="portfolio-item set-bg" data-setbg="assets/img/portfolio/1.jpg">
						<div class="pi-inner">
							<h2>+ See Project</h2>
						</div>						
					</a>
				</div>
				<div class="mix col-lg-6 col-md-6 digital">
					<a href="assets/img/portfolio/2.jpg" class="portfolio-item set-bg " data-setbg="assets/img/portfolio/2.jpg">
						<div class="pi-inner">
							<h2>+ See Project</h2>
						</div>						
					</a>
				</div>
				<div class="mix col-lg-4 col-md-6 web">
					<a href="assets/img/portfolio/3.jpg" class="portfolio-item set-bg" data-setbg="assets/img/portfolio/3.jpg">
						<div class="pi-inner">
							<h2>+ See Project</h2>
						</div>						
					</a>
				</div>
				<div class="mix col-lg-4 col-md-6 digital">
					<a href="assets/img/portfolio/4.jpg" class="portfolio-item set-bg" data-setbg="assets/img/portfolio/4.jpg">
						<div class="pi-inner">
							<h2>+ See Project</h2>
						</div>						
					</a>
				</div>
				<div class="mix col-lg-4 col-md-6 rened">
					<a href="assets/img/portfolio/5.jpg" class="portfolio-item set-bg" data-setbg="assets/img/portfolio/5.jpg">
						<div class="pi-inner">
							<h2>+ See Project</h2>
						</div>						
					</a>
				</div>
				<div class="mix col-lg-12 col-md-6 brand">
					<a href="assets/img/portfolio/6.jpg" class="portfolio-item set-bg" data-setbg="assets/img/portfolio/6.jpg">
						<div class="pi-inner">
							<h2>+ See Project</h2>
						</div>						
					</a>
				</div>
				<div class="mix col-lg-6 col-md-6 rened">
					<a href="assets/img/portfolio/7.jpg" class="portfolio-item set-bg" data-setbg="assets/img/portfolio/7.jpg">
						<div class="pi-inner">
							<h2>+ See Project</h2>
						</div>						
					</a>
				</div>
				<div class="mix col-lg-6 col-md-6 brand">
					<a href="assets/img/portfolio/8.jpg" class="portfolio-item set-bg" data-setbg="assets/img/portfolio/8.jpg">
						<div class="pi-inner">
							<h2>+ See Project</h2>
						</div>						
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- portfolio section end -->


	<!-- footer section start -->
	<footer class="footer-section text-center">
		<div class="container">
			<h2 class="section-title mb-5">Let’s work together</h2>
			<a href="" class="site-btn">Get in touch</a>
			<div class="social-links">
				<a href=""><span class="fa fa-pinterest"></span></a>
				<a href=""><span class="fa fa-linkedin"></span></a>
				<a href=""><span class="fa fa-instagram"></span></a>
				<a href=""><span class="fa fa-facebook"></span></a>
				<a href=""><span class="fa fa-twitter"></span></a>
			</div>
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
		</div>
	</footer>
	<!-- footer section end -->
<router-outlet></router-outlet>
