<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Alok Dubey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">about me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">my selected works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">my resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">contact me</a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  <h1>
      Hey there,  My name is Alok Dubey!
  </h1>
  <p>
      I’m just another Designer in this big Universe who is playing his part to make
       people life more simple. Currently,<br>
      I’m working with OLX People and helping the ‘Next Billion Users’ in shaping and
       building their careers. 
  </p>
  <h6>
      about me
  </h6>
  <p>
      As a designer, I wanted to say I’ve expertise in UX, UI, and Product Strategy. 
      I like to touch every aspects of the product building. I do focus on the process 
      by organizing them into sizable, achievable chunks.
 
      My product design process incorporates preliminary research, flow planning, feedback, 
      and visual design implementation, and usability testing. With lots of empathy as solvent 
      in my process  😃
  </p>

</div>

<router-outlet></router-outlet>
